html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
body{
    height: 100vh;
    font-size: 16px;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #f0f0f0;
    gap: 2rem;
}
table, th, td {
  border:1px solid black;
}
tr,td > input, th{
    padding: 1rem 2rem;
    border-radius: 5px;
}
td > input {
    border: 0;
}
@media screen and (max-width: 599px) {
    
    
}
@media screen and (min-width: 1200px) {
    main {
        max-width:1000px;
        margin: 0 auto;
    }
    
}

.user-name {
    min-width: 400px;
    padding: 1rem;
    border-radius: 10px;
    border: 0;
}
.date-input{
    padding: 1rem;
    border-radius: 10px;
    border: 0;
    min-width: 400px;
}
.timing-box, .times-box {
    display: flex;
    gap: 2rem;

}
.table-row{
    display: flex;
    align-items: center;
    justify-content: center;}
@media screen and (max-width: 599px) {
    .table-row {
        flex-direction: column;
        justify-content: center;
    }
    .date-input, .user-name{
        display: inline-block;
        /* min-width: 100%; */
    }
    
}